.container {
  width: 80%;
  height: 100%;
  margin: 60px auto;
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-column-gap: 50px;
  grid-gap: 10px;
}

.Productname2 {
  /* margin-right: 80px;  */
  align-self: flex-start;
  justify-self: start;
  margin: 10px 0 10px 0;
}
.downpart {
  display: flex;
  gap: 1.5rem;
  margin-top: 0;
  margin-bottom: 20px;
  align-self: flex-start;
}
.lastpart {
  display: flex;
  gap: 3rem;
  align-self: flex-start;
  justify-content: center;
  padding-left: 2rem;
}
.firstprice {
  text-decoration: line-through;
  font-weight: bolder;
  color: grey;
}
.cancelledprice {
  font-size: 20px;
  font-weight: bold;
}
.circle {
  position: relative;
  background-color: red;
  border-radius: 50%;
  left: 650px;
  top: -450px;
  color: #fff;
  bottom: 415px;
  width: 70px;
  height: 70px;
  text-align: center;
}
.circle p {
  font-weight: bold;
  font-size: 20px;
}
.circle strong {
  font-weight: 200;
  font-size: 15px;
}

.weekly {
  /* margin-left: 260px; */
}
.shop-1 {
  width: 250px;
  height: 300px;
  /* border: 2px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8ff;
  border-width: 1px;
  border-color: rgb(160, 160, 255);
}
.img__container {
  width: 100%;
  display: flex;
}
.intro__img {
  height: 180px;
  width: 250px;
  background-color: rgb(197, 195, 192);
  align-items: center;
}
.containers {
  display: flex;
  /* flex-direction: column; */
  background-color: rgb(5, 5, 32);
  width: 70%;
  height: 100%;
  margin: 10px auto;
  /* margin-top: 50px;
  margin-left: 250px; */
  justify-content: space-between;
}
.promo__img {
  height: 100%;
}
.other__right p {
  color: white;
  font-size: 40px;
  font-weight: bold;
}
.other__right strong {
  font-size: 20px;
  font-weight: 200px;
}
.other__right {
  margin: auto;
}
