.posts {
    background-color: #f7f7f7;
    padding-top: 70px;
    padding-bottom: 50px;
    /* padding: 0 10rem; */
}

.headers{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    gap: 30em;
}

/* .headers h3{
    left: 50px;
} */

/* .headers h5{
    right: 50px;
} */

.post {
    display: grid;
    /* grid-template-columns: repeat(auto-fill,minmax(160px, 1fr)); */
    grid-template-areas: "first__post second__post third__post";
    grid-template-columns: 1fr 1fr;
    /* grid-gap: 5px; */
    margin: 2px auto;
    padding: 0 10rem;
}
.text {
    margin-top: 10px;
}

.first__post img, .second__post img, .third__post img{
    width: 100%;
    height: auto;
}

.first__post img:hover, .second__post img:hover, .third__post img:hover{
    background: linear-gradient(rgba(255, 0, 0, 0.589), rgba(255, 0, 0, 0.45));
  background-repeat: no-repeat;
  box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.item{
    padding: 15px;
    width: 250px;
}

.span_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.span1{
    display: flex;
}

.span2{
    display: flex;
    text-indent: 20px;
}

.timer{
    align-items: center;
}

@media screen and (max-width: 854px) {
    .post{
        grid-template-areas: "first__post second__post"
                                    "third__post" !important;
    }
    
}

@media screen and (max-width: 600px) {
    .post{
        grid-template-areas:    "first__post"
                                "second__post"
                                "third__post";
    }
    
}