.register-container {
  margin-top: 130px;
  width: 30vw;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
  margin: 80px auto 20px auto;
  height: 80vh;
  box-shadow: 0 2px 12px -3px rgba(0, 0, 0, 0.5);
  padding: 2rem;
}

.register-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
}

.already__registered {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.already__registered {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.already__registered a {
  font-size: 18px;
  color: rgb(5, 5, 32);
}

@media screen and (max-width: 500px) {
  .register-container {
    width: 80% !important;
  }
}
@media screen and (max-width: 768px) {
  .register-container {
    width: 80%;
  }
}
@media screen and (max-width: 900px) {
  .register-container {
    width: 30%;
  }
}
@media screen and (max-width: 1040px) {
  .register-container {
    width: 60vw;
  }
}
