.products{
    padding-bottom: 50px;
    padding: 0 10rem;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-container{
    display: grid;
    width: 100%;
    grid-template-areas: "item1 item2 item3"
                        "item1 item4 item5";
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    /* padding: 0 5rem; */
}

.bold{
    /* font-size: larger; */
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
}

/* .h5{
    align-items: flex-end;
    justify-content: right;
    text-indent: 70px;
} */

.a {
    text-decoration: line-through;
    font-weight: bolder;
    color: grey;
}
.view{
    color: red;
    text-decoration: underline;
    margin: 0 50px;
}

.item1{
    grid-area: item1;
}

.item2{
    grid-area: item2;
}

.item3{
    grid-area: item3;
}

.item4{
    grid-area: item4;
}

.item5{
    grid-area: item5;
}

img {
    width: 250px;
    height: 350px;
}

.image{
    width: 250px;
    height: 200px;
    justify-content: center;
}

.image:hover{
    background: linear-gradient(rgba(255, 0, 0, 0.589), rgba(255, 0, 0, 0.45));
  background-repeat: no-repeat;
  box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.img1{
    width: 250px;
    height: 550px;
}

.img1:hover{
    background: linear-gradient(rgba(255, 0, 0, 0.589), rgba(255, 0, 0, 0.45));
  background-repeat: no-repeat;
  box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.item{
    /* border: 1px solid black; */
    padding: 15px;
    /* align-items: center; */
    justify-content: center;
}

.span_container{
    display: flex;
    width: 100%;
}

.span1 {
    align-items: flex-start;
}

.span2 {
    align-items: flex-end;
    text-indent: 70px;
}

@media screen and (max-width: 1033px) {
    .product-container{
        grid-template-areas: "item1 item2"
                            "item1 item4"
                            "item3 item5";
    }
    
}

@media screen and (max-width: 751px) {
    .product-container{
        grid-template-areas:    "item1"
                                "item2"
                                "item3"
                                "item4"
                                "item5";
    }
    
}