.benefitsContainer {
  display: grid;
  grid-template-areas: "benefit1 benefit2 benefit3";
  width: "805px";
}

.Benefitscard1 {
  display: flex;
  grid-area: benefit1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-style: italic;
  margin: 10px;
}
.Benefitscard1:hover {
  box-shadow: 1px 2px 8px 1px rgba(223, 192, 192, 0.6);
  cursor: pointer;
}
.Benefitscard2 {
  display: flex;
  grid-area: benefit2;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-style: italic;
  margin: 10px;
}
.Benefitscard2:hover {
  box-shadow: 1px 2px 8px 1px rgba(223, 192, 192, 0.6);
  cursor: pointer;
}
.Benefitscard3 {
  display: flex;
  grid-area: benefit3;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-style: italic;
  margin: 10px;
}

.Benefitscard3:hover {
  box-shadow: 1px 2px 8px 1px rgba(223, 192, 192, 0.6);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .benefitsContainer {
    display: grid;
    grid-template-areas: "benefit1" "benefit2" "benefit3";
  }
}
