.card {
  display: flex;
  align-items: center;
}
.productImgAndDesc {
  display: flex;
  align-items: center;
}
.productPriceAndButton {
  display: flex;
  flex-direction: column;
}
/* .productDescHeader {
  display: inline;
} */
/* .productDescText {
  float: right;
} */
